body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.btn {
  background: #4f46e5;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
}

.big {
  padding: 12px 24px;
  font-size: 18px;
}

.hero {
  text-align: center;
  margin-top: 100px;
}

.hero span {
  color: #4f46e5;
}

.form-box {
  width: 320px;
  margin: 120px auto;
  padding: 25px;
  background: white;
  border-radius: 8px;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.form-box button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.dashboard {
  text-align: center;
  margin-top: 120px;
}